{<<"app">>,<<"prometheus_httpd">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Prometheus.io inets httpd exporter">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"priv">>,<<"priv/index.html">>,
  <<"rebar.config">>,<<"rebar.lock">>,<<"src">>,
  <<"src/prometheus_http_config.erl">>,<<"src/prometheus_http_impl.erl">>,
  <<"src/prometheus_httpd.app.src">>,<<"src/prometheus_httpd.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,
 [{<<"Beam Dashboards">>,
   <<"https://github.com/prometheus-erl/beam-dashboards">>},
  {<<"Ecto Instrumenter">>,<<"https://hex.pm/packages/prometheus_ecto">>},
  {<<"Github">>,<<"https://github.com/prometheus-erl/prometheus-httpd">>},
  {<<"Hex.pm">>,<<"https://hex.pm/packages/prometheus_httpd">>},
  {<<"Phoenix Instrumenter">>,
   <<"https://hex.pm/packages/prometheus_phoenix">>},
  {<<"Plugs Instrumenter/Exporter">>,
   <<"https://hex.pm/packages/prometheus_plugs">>},
  {<<"Process info Collector">>,
   <<"https://hex.pm/packages/prometheus_process_collector">>},
  {<<"Prometheus">>,<<"https://hex.pm/packages/prometheus">>},
  {<<"Prometheus.ex">>,<<"https://hex.pm/packages/prometheus_ex">>},
  {<<"Pushgateway client">>,<<"https://hex.pm/packages/prometheus_push">>}]}.
{<<"name">>,<<"prometheus_httpd">>}.
{<<"requirements">>,
 [{<<"accept">>,
   [{<<"app">>,<<"accept">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~> 0.3">>}]},
  {<<"prometheus">>,
   [{<<"app">>,<<"prometheus">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~> 5.0">>}]}]}.
{<<"version">>,<<"2.1.15">>}.
