[
  % Application-specific configurations
  {realtime_dashboard, [
    % Example configuration for an XMPP client (if you're using one)
    {xmpp_client, [
      {mongooseim_host, "localhost"},
      {mongooseim_port, 5222},
      {username, "user@localhost"},
      {password, "password"}
    ]}
  ]},

  % Cowboy server configuration
  {cowboy, [
    {http_port, 8080},
    {https_port, 8443},
    {num_acceptors, 100} % Number of processes to accept connections
  ]},

  % Logger configuration
  {logger, [
    {level, info}
  ]}
].
